body{
    background-image: url("movietheaterbackground.jpg");
    font-weight: bolder;
}
table{
    background-color: white;
    padding: 25px;
    border: solid;
    border-color: black;
    opacity: 87%;
}
td{
    border: solid;
    border-color: black;
}
.h2{
    border: solid;
    border-color: black;
    background-color: rgb(136, 111, 111);
    color: white;
    font-weight: bold;
    font-family: fantasy ;
    font-size: 35px;
    opacity: 87%;
    margin-left: 150px;
    margin-right: 150px;
}
button{
    background-color: rgb(71, 49, 49);
    color: white;
}
th{
    color: black;
}
